# Entorno virtual
venv/
env/
infonovax/
infonavax/
api_noticias/Lib
api_noticias/
instance/

# Archivos de configuración y entorno
.env
*.env

# __pycache__ y archivos temporales de Python
__pycache__/
modelos/__pycache__/
rutes/__pycache__/
schemas/__pycache__/
*.py[cod]
*$py.class

# Archivos de log y base de datos local
*.log
*.sqlite3
*.db 

# Archivos de compilación
*.so
*.dll
*.o
*.pyc

# Configuraciones de IDEs
.vscode/
.idea/
*.swp

# Otros
.DS_Store
infovenv/
env.py
